<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    <!-- 
        Cómo hacer un sencillo slider con HTML y CSS (y sin tocar JavaScript)
        https://www.campusmvp.es/recursos/post/como-hacer-un-slider-sencillo-con-html-y-css-sin-javascript.aspx 
    -->
    <ul class="slider">
        <li id="slide1">Producte 1</li>
        <li id="slide2">Producte 2</li>
        <li id="slide3">Producte 3</li>
    </ul>
    <nav>
        <ul class="menu">
            <li><a href="#slide1">Diapositiva 1</a></li>
            <li><a href="#slide2">Diapositiva 2</a></li>
            <li><a href="#slide3">Diapositiva 3</a></li>
        </ul>
    </nav>
</body>
</html>