<!-- https://www.ostraining.com/blog/webdesign/create-navmenu-with-flexbox/ -->

<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <title>Flexbox Navigation</title>
   <link rel="stylesheet" href="./css/styles2.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css">
   <link href="https://fonts.googleapis.com/css?family=Fira+Sans&display=swap" rel="stylesheet">
</head>

<body>

      <nav class="menu">
         <img src="images/logo.png" class="logo">
         <ul class="nav-menu">
            <li><i class="fas fa-home"></i><a href="#">Inici</a></li>
            <li><i class="fas fa-map-marked-alt"></i><a href="#">Rutes</a></li>
            <li><i class="fas fa-h-square"></i><a href="#">Hotels</a></li>
            <li><i class="far fa-address-card"></i><a href="#">Contacto</a></li>
         </ul>
         <div class="social">
            <a href="#"><i class="fab fa-facebook-square"></i></a>
            <a href="#"><i class="fab fa-twitter-square"></i></a>
         </div>
      </nav>     
   
</body>

</html>