#portada{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    height: 90vh;
    width: 100%;
    position: relative;
    display: grid;
    place-content: center;
}

#portada::after {
    content: "";
    height: 90vh;
    width: 100%;
    background-image: url("../image/bg-image.jpg");
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -5;
    filter: blur(10px);
}

#portada:hover {
    color: white;
}