	/* Clase círculo*/

    section {
        border: 1px solid #000;
    }

    .circulo{
        width: 50px;
        height: 50px;       
        border-radius: 50%;
        background: green;
        border: 8px solid #000;
    }

    .rojo{
        background-color: red;
    }

    #orange{
        background-color: orange;
    }

    .azul{
        background-color: blue;
    }

    .con-sombra{
        box-shadow: 10px 16px 18px rgba(0,0,0, 0.6);
    }

    #especial{
        background-color: #ffff88;
        border: 8px solid orange;
    }