<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>
<body>
    
    
    <div class="flex">
      <section class="producte">
        <img src="https://static.pexels.com/photos/24166/pexels-photo-24166-medium.jpg" alt="Smartphone" />
        <h2>Smartphone</h2>
        <p>The best camera is the one that you carry 24/7.</p>
        <aside>
          <ul>
            <li>Price: 450 €</li>
            <li>In Stock</li>
          </ul>
          <button>Add to Cart</button>
        </aside>
      </section>

      <section class="producte">
        <img src="https://static.pexels.com/photos/191160/pexels-photo-191160-medium.jpeg" alt="Some Old Polaroid Camera" />
        <h2>Old Polaroid Camera</h2>
        <p>Get hipstery effects.</p>
        <aside>
          <ul>
            <li>Price: 450 €</li>
            <li>In Stock</li>
          </ul>
          <button>Add to Cart</button>
        </aside>
      </section>

      <section class="producte">
        <img src="https://static.pexels.com/photos/9556/camera-lens-hero-gopro-medium.jpg" alt=">GoPro Hero 4 Silver" />
        <h2>GoPro Hero 4 Silver</h2>
        <p>GoPro is de facto choice for anyone interested in extreme sports.</p>
        <aside>
          <ul>
            <li>Price: 450 €</li>
            <li>In Stock</li>
          </ul>
          <button>Add to Cart</button>
        </aside>  
      </section>

      <section class="producte">
        <img src="https://static.pexels.com/photos/51383/photo-camera-subject-photographer-51383-medium.jpeg" alt="Nikon something" />
        <h2>Nikon Something</h2>
        <p>Kinda passé.</p>  
        <aside>
          <ul>
            <li>Price: 450 €</li>
            <li>In Stock</li>
          </ul>
          <button>Add to Cart</button>
        </aside>     
      </section>      
    </div>
  </body>
</html>